@import '../~normalize.css';

:root {
  --font-family-default: 'Titillium Web', sans-serif;

  --default-color: #F3F6FC;
  --white-color: #FFF;
  --accent-color: #DE2264;
  --red-gradient: linear-gradient(270deg, #CF4942 0%, #DE2264 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition-property: none;
  transition-duration: 0.3s;
}

html {
  font-size: 14px;
  font-family: var(--font-family-default);
  color: var(--default-color);
  background-color: var(--white-color);
}

body {
  position: relative;
}

/* body {
  perspective: 5px;
  transform-style: preserve-3d;
  scroll-behavior: smooth;
} */

/* body.modal-is-active {
  position: relative;
  overflow: hidden; */
  /* width: 100vw; */
  /* height: 100vh; */
/* } */

input:focus,
textarea:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

h1,
p {
  margin: 0;
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: transparent;
}

input {
  color: rgba(243, 246, 252, 0.4);
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  width: 96%;
}

@media(max-width: 740px){
  .container {
    width: 90%;
  }
}

@import './button.css';
@import './modal.css';
@import './style.css';
