<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="theme-color" content="#222730">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    <title>Lootmart</title>
  </head>
  <body>
  </body>
</html>
