<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta name="theme-color" content="#222730">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,700" rel="stylesheet">
    <title>Lootmart</title>
  </head>
  <body>

    <header class="header">

      <div class="container">

        <a href="/" class="logo">
          <img src="img/logo.svg" alt="logo">
        </a>

        <div class="search">
          <form action="">
            <input type="text" placeholder="Search">
            <button class="button" appearance="_fab-primary">
              <img src="img/search.svg" />
            </button>
          </form>
        </div>

        <a href="#" class="button" appearance="_basicWithBorder-transparent">+ Create lot</a>
        
        <a href="#" class="button" appearance="_fab-transparent">
          <img src="img/bell.svg" />
        </a>

        <a href="#" class="link">Sign in</a>

      </div>

    </header>

  </body>
</html>
