<!DOCTYPE html>
<html lang="<%= lang %>">

<head>
  <meta name="theme-color" content="#222730">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">

  <title>Lootmart</title>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">  

  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
</head>

<body>

  <header class="header">
    <div class="container">
      <a href="/" class="logo" data-modal>
        <img src="img/logo.svg" alt="logo">
      </a>

      <div class="block-mobile">
        <div class="top-mobile">
          <a href="#" class="app-store">
            <img src="img/app-store.svg">
          </a>
          <div class="install">Install Lootmart wallet to trade on mobile</div>
        </div>
  
        <div class="bottom-mobile">
          <p>or unlock your metamask account to start trading</p>
          <div class="meta">MetaMask</div>
        </div>
      </div>
    </div>

  </header>

  <section class="hero">
    <div class="content-hero">
      <img src="img/logo.svg" alt="logo">
      <h1>Buy and sell <span class="red">physical</span> and <span class="orange">digital</span> items directly with crypto.</h1>

      <a href="#" appearance="_basic-accent" class="button">Start trading</a>
    </div>
  </section>

  <div class="chamber">
    <h2>Chamber <span>(3346)</span> </h2>

    <div class="slider">
      <div class="item">
        <div class="item-wrap">
          <div class="img">
            <img src="img/items/item-1.png">
          </div>

          <div class="name-wrap">
            <div class="name">Magic wizard wand with magic fire</div>

            <div class="game-icon">
              <img src="img/icons/game-logo.png" alt="">
            </div>
          </div>
  
          <div class="price-wrap">
            <div class="price">$40-$60</div>
            <div class="time-left">14:47 left</div>
          </div>
  
          <div class="bottom-control">
            <div class="make-bid">
              <img src="/img/icons/dollar-sign.png" alt="">
              <span>Make a bid</span>
            </div>
  
            <div class="eye">
              <img src="/img/icons/red-eye.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-wrap">
          <div class="img">
            <img src="img/items/item-2.png">
          </div>

          <div class="name-wrap">
            <div class="name">Magic wizard wand with magic fire</div>

            <div class="game-icon">
              <img src="img/icons/game-logo.png" alt="">
            </div>
          </div>
  
          <div class="price-wrap">
            <div class="price">$40-$60</div>
            <div class="time-left">14:47 left</div>
          </div>
  
          <div class="bottom-control">
            <div class="make-bid">
              <img src="/img/icons/dollar-sign.png" alt="">
              <span>Make a bid</span>
            </div>
  
            <div class="eye">
              <img src="/img/icons/red-eye.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-wrap">
          <div class="img">
            <img src="img/items/item-3.png">
          </div>

          <div class="name-wrap">
            <div class="name">Magic wizard wand with magic fire</div>

            <div class="game-icon">
              <img src="img/icons/game-logo.png" alt="">
            </div>
          </div>
  
          <div class="price-wrap">
            <div class="price">$40-$60</div>
            <div class="time-left">14:47 left</div>
          </div>
  
          <div class="bottom-control">
            <div class="make-bid">
              <img src="/img/icons/dollar-sign.png" alt="">
              <span>Make a bid</span>
            </div>
  
            <div class="eye">
              <img src="/img/icons/red-eye.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-wrap">
          <div class="img">
            <img src="img/items/item-4.png">
          </div>

          <div class="name-wrap">
            <div class="name">Magic wizard wand with magic fire</div>

            <div class="game-icon">
              <img src="img/icons/game-logo.png" alt="">
            </div>
          </div>
  
          <div class="price-wrap">
            <div class="price">$40-$60</div>
            <div class="time-left">14:47 left</div>
          </div>
  
          <div class="bottom-control">
            <div class="make-bid">
              <img src="/img/icons/dollar-sign.png" alt="">
              <span>Make a bid</span>
            </div>
  
            <div class="eye">
              <img src="/img/icons/red-eye.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-wrap">
          <div class="img">
            <img src="img/items/item-2.png">
          </div>

          <div class="name-wrap">
            <div class="name">Magic wizard wand with magic fire</div>

            <div class="game-icon">
              <img src="img/icons/game-logo.png" alt="">
            </div>
          </div>
  
          <div class="price-wrap">
            <div class="price">$40-$60</div>
            <div class="time-left">14:47 left</div>
          </div>
  
          <div class="bottom-control">
            <div class="make-bid">
              <img src="/img/icons/dollar-sign.png" alt="">
              <span>Make a bid</span>
            </div>
  
            <div class="eye">
              <img src="/img/icons/red-eye.svg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="item-wrap">
          <div class="img">
            <img src="img/items/item-1.png">
          </div>

          <div class="name-wrap">
            <div class="name">Magic wizard wand with magic fire</div>

            <div class="game-icon">
              <img src="img/icons/game-logo.png" alt="">
            </div>
          </div>

          <div class="price-wrap">
            <div class="price">$40-$60</div>
            <div class="time-left">14:47 left</div>
          </div>

          <div class="bottom-control">
            <div class="make-bid">
              <img src="/img/icons/dollar-sign.png" alt="">
              <span>Make a bid</span>
            </div>

            <div class="eye">
              <img src="/img/icons/red-eye.svg" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>

  <section class="blocks-info">
    <div class="block-info">
      <div class="content">
        <div class="content-text">Sell more</div>
        <div class="content-subtext">Turn your items into tokens available worldwide to extensive audience.</div>
        <a href="" appearance="_basic-accent" class="button">Learn more</a>
      </div>
    </div>

    <div class="block-info">
      <div class="content">
        <div class="content-text">Sell faster</div>
        <div class="content-subtext">High-frequency direct-to-consumer in our decentralized environment.</div>
        <a href="" appearance="_basic-accent" class="button">Learn more</a>
      </div>
    </div>

    <div class="block-info">
      <div class="content">
        <div class="content-text">Motivate employees</div>
        <div class="content-subtext">Reward people with what they want. Our tokens are instantly convertible into everything Amazon can offer.</div>
        <a href="" appearance="_basic-accent" class="button">Learn more</a>
      </div>
    </div>
  </section>

  <div class="partners">
    <div class="partners-images">
      <div class="image">
        <img src="/img/partners/Esportbits.png">
      </div>
      <div class="image">
        <img src="/img/partners/vega.png">
      </div>
      <div class="image">
        <img src="/img/partners/opensea.png">
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">

      <a href="#" appearance="_basic-accent" class="button">Support</a>

      <div class="social">
        <a href="https://www.facebook.com/esportbit" class="item" target="_blank" l>
          <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
              d="M7.26923 0.100962V2.32212H5.94832C5.46594 2.32212 5.14063 2.42308 4.97236 2.625C4.80409 2.82692 4.71995 3.12981 4.71995 3.53365V5.1238H7.1851L6.85697 7.61418H4.71995V14H2.14543V7.61418H0V5.1238H2.14543V3.28966C2.14543 2.24639 2.4371 1.4373 3.02043 0.86238C3.60377 0.287457 4.3806 0 5.35096 0C6.17548 0 6.8149 0.0336535 7.26923 0.100962Z"
              fill="#F3F6FC" />
          </svg>
        </a>

        <a href="https://discord.gg/My3PfqK" class="item" target="_blank" l>
          <svg width="20" height="20" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 240">
            <style>
              .st0 {
                fill: #FFFFFF;
              }
            </style>
            <path fill="#fff"
              d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z" />
            <path class="st0"
              d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z" />
          </svg>
        </a>

        <a href="https://linkedin.com/esportbit" class="item" target="_blank" l>
          <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M16.728 15.9942C15.6894 15.9699 14.6756 15.9699 13.637 15.9942C13.4144 15.9942 13.365 15.9455 13.365 15.7264C13.365 13.9251 13.365 12.0994 13.365 10.298C13.365 9.88416 13.3402 9.47033 13.2166 9.08085C12.8457 7.81502 11.362 7.35251 10.2987 8.2045C9.72995 8.64268 9.50739 9.25125 9.50739 9.98153C9.50739 11.6855 9.50739 13.3895 9.50739 15.0935C9.50739 15.3126 9.48267 15.5317 9.50739 15.7751C9.53212 15.9699 9.43321 16.0186 9.26011 15.9942C8.19681 15.9942 7.15823 15.9942 6.09492 15.9942C5.89709 15.9942 5.84764 15.9455 5.84764 15.7508C5.87237 14.2172 5.87237 12.6836 5.87237 11.1256C5.87237 9.2269 5.87237 7.32816 5.84764 5.45376C5.84764 5.23468 5.89709 5.18599 6.09492 5.18599C7.15823 5.18599 8.19681 5.18599 9.26011 5.18599C9.45794 5.18599 9.50739 5.23468 9.50739 5.42942C9.50739 5.81891 9.50739 6.20839 9.50739 6.67091C9.58158 6.59788 9.60631 6.57353 9.63103 6.54919C10.5954 5.16165 11.9555 4.77216 13.5628 5.01559C15.4174 5.30771 16.6043 6.57353 16.9011 8.52096C16.9753 8.98348 17 9.44599 17 9.9085C17 11.8559 17 13.779 17 15.7264C17 15.9212 16.9505 15.9942 16.728 15.9942Z" fill="white"/>
            <path d="M3.86939 10.5901C3.86939 12.2941 3.86939 13.9981 3.86939 15.7021C3.86939 15.9212 3.81994 15.9942 3.59738 15.9942C2.55881 15.9699 1.52023 15.9942 0.481647 15.9942C0.283822 15.9942 0.234366 15.9455 0.234366 15.7508C0.234366 12.3184 0.234366 8.86176 0.234366 5.42942C0.234366 5.25902 0.283822 5.18599 0.481647 5.18599C1.54495 5.18599 2.60826 5.18599 3.67157 5.18599C3.89412 5.18599 3.91885 5.25902 3.91885 5.45376C3.86939 7.15776 3.86939 8.86176 3.86939 10.5901Z" fill="white"/>
            <path d="M4.04249 2.36222C3.79521 3.33593 2.78136 3.89582 1.61914 3.70108C0.382734 3.50633 -0.309652 2.31353 0.135453 1.14508C0.43219 0.414792 1.1493 -0.0233788 2.06424 0.00096403C3.44902 -0.0233788 4.36395 1.07205 4.04249 2.36222Z" fill="white"/>
          </svg>
        </a>
      </div>

      <p class="terms">Any logos and corresponding images along with all other registered trademarked logos, in-game items, and arts on LootMart are the property of their respective owners. LootMart is in no way affiliated with or endorsed by any video game publisher, developer, hardware company or esports team.</p>

      <div class="logo">
        <img src="img/logo.svg" alt="logo">
        <p class="copyright display-copy">Lootmart © 2020. All Rights Reserved</p>
      </div>

      <p class="copyright mobile-copy">Lootmart © 2020. All Rights Reserved</p>
    </div>
  </footer>

  <div id="modal" class="modal">

    <div class="body">
      <a href="#" class="close" data-modal>
        <svg fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <g opacity="1" stroke="#ACB5BE" stroke-linecap="round" stroke-linejoin="round">
            <path d="M18 6L6 18" />
            <path d="m6 6l12 12" />
          </g>
        </svg>
      </a>
      <div class="content">
        <img src="img/hyperchan.png" alt="hyperchan" />
        <div>
          <h3>Beta testing</h3>
          <p>
            Available for beta-testers only.</br>
            Stay tuned for updates.
          </p>
        </div>
      </div>
    </div>

  </div>

  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165402833-1%22%3E"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165402833-1');
</script>

  <script>

    $(document).ready(function(){
      $('.slider').slick({
        infinite: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        dots: true,
        responsive: [
          {
            breakpoint: 1400,
            settings: {
            slidesToShow: 3,
            slidesToScroll: 1,
            infinite: true,
            }
          },
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 1
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1,
              arrows: false,
            }
          }
        ]
      });
    });

  </script>

</body>

</html>