.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171b21;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .container .logo {
  flex-basis: 150px;
  margin-right: 7.5%;
}

.header .container > a:not(.logo) {
  margin: auto;
}

.header .container .search {
  flex-basis: 65%;
  margin-right: 2.5%;
}

.header .container .search form {
  --height: 40px;
  height: var(--height);
  position: relative;
}

.header .container .search form input {
  height: var(--height);
  width: 100%;
  text-indent: 16px;
  background-color: transparent;
  border: 1px solid #252d35;
  border-radius: 50px;
}

.header .container .search form .button {
  --height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.header .container .search form button img {
  --size: 16px;
  height: var(--size);
  width: var(--size); 
}

.header .container .link:not(:hover) {
  opacity: 0.75;
  color: var(--accent-color);
}

.header .container .link:hover {
  opacity: 1;
  color: var(--accent-color);
}

.hero {
  height: 700px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%), url('assets/promo-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
}

.hero h1 {
  padding-top: 170px;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  line-height: 1.5;
}

.hero > .button {
  --height: 50px;
  max-width: 220px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.hero .product-features {
  max-width: 45%;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

.hero .product-features .item {
  display: flex;
}

.hero .product-features .item img {
  margin-right: 20px;
}

.hero .product-features .item span {
  margin-top: auto;
  line-height: 1.5;
  letter-spacing: 1px;
}

.offer {
  height: 400px;
  display: flex;
  background-color: #222730;
}

.offer .contact {
  width: 45%;
  padding: 45px 80px;
  display: flex;
  margin: auto;
  background-color: #1b2027;
  border-radius: 4px;
  border: 1px solid #3B4754;
}

.offer .contact img {
  width: 150px;
  height: 170px;
  margin-right: 50px;
  flex-shrink: 0;
}

.offer .contact div {
  display: flex;
  flex-direction: column;
}

.offer .contact div h2 {
  margin: 0;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 600;
}

.offer .contact div .button {
  margin-top: 20px;
  max-width: 200px;
  font-size: 18px;
}

.footer {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -1px 0px 0px rgba(59, 71, 84, 0.4);
  background-color: #222730;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .container > img {
  width: 140px;
  margin-right: auto;
}

.footer .container .terms {
  flex-basis: 35.5%;
  margin-right: 10%;
  line-height: 1.5;
}

.footer .container .social {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.footer .container .social .item {
  padding: 8px;
}

.footer .container .social .item svg path {
  transition: 0.3s ease;
}

.footer .container .social .item:hover svg path {
  fill: var(--accent-color);
}

.footer .container .copyright {
  color: rgba(243, 246, 252, 0.4);
}

@media(max-width: 1620px){
  .header .container .search {
    flex-basis: 60%;
  }
  .offer .contact {
    padding: 45px 60px;
  }
  .offer .contact div h2 {
    font-size: 30px;
  }
}

@media(min-width: 1024px){
  .desktop-hidden {
    display: none;
  }
}

@media(max-width: 1440px){
  .hero {
    height: 600px;
  }
  .hero h1 {
    font-size: 48px;
    padding-top: 110px;
  }
  .hero .product-features {
    max-width: 55%;
    margin-top: 80px;
  }
  .offer .contact {
    width: 55%;
  }
  .footer .container .terms {
    flex-basis: 45.5%;
    margin-right: 2.5%;
  }
}

@media(max-width: 1024px){
  .desktop-hidden {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
  .header {
    height: 80px;
  }
  .header .container .logo {
    width: 40px;
    height: 36px;
    flex-basis: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .header .container .logo > img {
    width: 185px;
    max-width: none;
    max-height: none;
  }
  .header .container .search {
    flex-basis: auto;
    margin-right: 24px;
  }
  .header .container .search input {
    display: none;
  }
  .header .container > a:not(.logo) {
    margin-left: 24px;
    margin-right: 24px;
  }
  .header .container > a:last-of-type {
    margin-right: 0;
  }
  .hero {
    height: 525px;
  }
  .hero h1 {
    font-size: 36px;
    padding-top: 90px;
  }
  .hero .product-features {
    max-width: 70%;
  }
  .offer .contact {
    width: 70%;
  }
  .offer .contact div h2 {
    font-size: 24px;
  }
}

@media(max-width: 768px){
  .hero {
    height: 475px;
  }
  .hero h1 {
    font-size: 30px;
  }
  .hero > .button {
    max-width: 200px;
  }
  .hero .product-features {
    max-width: 80%;
    margin-top: 60px;
  }
  .hero .product-features .item img {
    margin-right: 12px;
  }
  .offer .contact {
    width: 80%;
  }
  .offer .contact img {
    margin-right: 24px;
  }
  .footer {
    height: 140px;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .container .terms {
    flex-basis: 75%;
    margin-right: 0;
  }
}

@media(max-width: 740px){
  .header .container > a:not(.logo) {
    margin-left: 12px;
    margin-right: 12px;
  }
  .header .container > a:last-of-type {
    margin-right: 0;
  }
  .header .container .search {
    margin-right: 12px;
  }
}