.slick-dots li.slick-active button:before {
  color: rgba(228, 25, 82, 0.7);
}

.slick-dots li button:before {
  color: rgba(218, 43, 92, 0.5);
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171b21;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .container .logo {
  flex-basis: 150px;
  margin-right: 40%;
}

.header .container>a:not(.logo) {
  margin: auto;
}

.header .container .link:not(:hover) {
  opacity: 0.75;
  color: var(--accent-color);
}

.header .container .link:hover {
  opacity: 1;
  color: var(--accent-color);
}

.hero {
  max-height: 600px;
  background:url('assets/main-image.png'),  linear-gradient(180deg, #150E31 0%, #150E31 100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover, contain;
  font-size: 18px;
  padding-bottom: 48px;
}

.block-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  width: 400px;
}

.block-mobile .top-mobile {
  display: flex;
  align-items: center;
  max-width: 800px;
  line-height: auto;
}

.block-mobile .top-mobile .app-store {
  width: 100px;
  display: block;
  margin-right: 12px;
  margin-top: 6px;
}

.block-mobile .top-mobile .app-store img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.block-mobile .bottom-mobile {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  padding-top: 6px;
}

.block-mobile .bottom-mobile .meta {
  padding-left: 36px;
  color: #f2994a;
  background: url('/img/icons/metamask-logo.svg') no-repeat;
  background-size: 20px;
  background-position: 6px center;
}

.hero .red {
  color: #eb5757;
}

.hero .orange {
  color: #f2994a;
}

.hero .block-mobile .install {
  max-width: 500px;
  font-size: 28px;
  line-height: 1.2;
  padding-left: 24px;
}

.hero .content-hero {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 48px;
}

.hero .content-hero img {
  width: 200px;
}

.hero h1 {
  font-size: 64px;
  text-align: left;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  line-height: 1.1;
  max-width: 600px;
  margin: 24px 0 36px;
}

.hero .button {
  --height: 50px;
  max-width: 270px;
  margin: 12px 0;
  font-size: 18px;
}

.chamber {
  max-width: 1000px;
  margin: 0 auto;
}

.chamber h2 {
  padding-left: 24px;
  padding-top: 24px;
  font-size: 36px;
  line-height: 55px;
}

.chamber h2 span {
  font-size: 14px;
  color: rgba(243, 246, 252, 0.6);
}

.chamber .item {
  padding: 0 24px 24px;
}

.chamber .item .item-wrap {
  background: #171B21;
  border: 1px solid #3B4754;
  box-sizing: border-box;
  border-radius: 4px;
}

.chamber .item .item-wrap .name-wrap {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #F3F6FC;
}

.chamber .item .item-wrap .name-wrap .game-icon {
  flex-shrink: 0;
  width: 24px;
  margin-left: 12px;
  margin-top: 6px;
}

.chamber .item .item-wrap .price-wrap {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.chamber .item .item-wrap .price-wrap .price {
  font-weight: bold;
}

.chamber .item .item-wrap .price-wrap .time-left {
  font-size: 12px;
}

.chamber .item .item-wrap .bottom-control {
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.chamber .item .item-wrap .make-bid {
  display: flex;
  align-items: center;
  border: 1px solid #3B4754;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px 12px;
  cursor: pointer;
  transition: border-color .2s;
}

.chamber .item .item-wrap .make-bid:hover {
  border-color: #CF4942;
}

.chamber .item .item-wrap .make-bid img {
  flex-shrink: 0;
  margin-right: 6px;
}

.blocks-info .block-info {
  background: #171B21;
  border: 2px solid #3B4754;
  box-sizing: border-box;
  border-radius: 6px;
  max-height: 440px;
  height: 400px;
  margin: 24px auto;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 64px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -20% center;
}

.blocks-info .block-info:nth-child(1) {
  background-image: url('/img/blocks/block-image-1.png');
}

.blocks-info .block-info:nth-child(2) {
  justify-content: flex-start;
  background-image: url('/img/blocks/block-image-2.png');
  background-position: 120% center;
}

.blocks-info .block-info:nth-child(3) {
  background-image: url('/img/blocks/block-image-3.png');
  background-size: 70%;
}

.blocks-info .block-info .button {
  max-width: 180px;
  margin-top: 24px;
}

.partners {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 64px auto;
  padding-bottom: 24px;
}

.partners .title {
  font-weight: 600;
  font-size: 36px;
  line-height: 55px;
  color: #F3F6FC;
}

.partners .partners-images {
  display: flex;
  align-items: center;
}
.partners .partners-images .image {
  margin-left: 24px;
  flex-shrink: 0;
}

.blocks-info .block-info .content-text {
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #F3F6FC;
  max-width: 550px;
  padding-bottom: 12px;
}

.blocks-info .block-info .content-subtext {
  max-width: 550px;
}

.footer {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px -1px 0px 0px rgba(59, 71, 84, 0.4);
  background-color: #222730;
  padding: 24px 0;
}

.footer .container {
  display: flex;
  align-items: center;
}

.footer .logo {
  margin-right: 48px;
}

.footer .logo img {
  width: 140px;
  margin-right: auto;
}

.footer .container .terms {
  flex-basis: 60%;
  margin-right: 5%;
  line-height: 1.5;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #F3F6FC;
}

.footer .container .social {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding-left: 24px;
}

.footer .container .social .item {
  padding: 8px;
}

.footer .container .social .item svg path {
  transition: 0.3s ease;
}

.footer .container .social .item:hover svg path {
  fill: var(--accent-color);
}

.footer .container .copyright {
  color: rgba(243, 246, 252, 0.4);
  max-width: 500px;
  font-size: 12px;
}

.mobile-copy {
  display: none;
}

@media(max-width: 1920px) {
  .header .container .logo {
    margin-right: 7.5%;
  }
  .hero .product-features {
    max-width: 60%;
  }
}

@media(max-width: 1620px) {
  .hero .product-features {
    max-width: 65%;
  }
  .offer .contact {
    padding: 45px 60px;
  }
  .offer .contact div h2 {
    font-size: 30px;
  }
  .footer .container .copyright {
    max-width: 300px;
  }
  .offer .contact p {
    font-size: 24px;
  }
}

@media(min-width: 1024px) {
  .desktop-hidden {
    display: none;
  }
}

@media(max-width: 1440px) {
  .hero h1 {
    font-size: 36px;
    max-width: 400px;
  }
  .footer .container .terms {
    flex-basis: 50%;
    margin-right: 5%;
  }
  .hero .content-hero {
    max-width: 800px;
  }
  .blocks-info .block-info {
    max-width: 800px;
  }
  .chamber {
    max-width: 848px;
    padding-bottom: 12px;
  }
  .blocks-info .block-info .content-text {
    max-width: 390px;
  }
  .blocks-info .block-info .content-subtext {
    max-width: 390px;
  }
  .blocks-info .block-info {
    background-position: -45% center;
  }
  .blocks-info .block-info:nth-child(2) {
    background-position: 145% center;
  }
  .partners {
    max-width: 800px;
  }
}

@media(max-width: 1024px) {
  .desktop-hidden {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
  .block-mobile .bottom-mobile {
    display: none;
  }
  .block-mobile .top-mobile {
    flex-direction: row-reverse;
    margin-left: 24px;
  }
  .block-mobile .top-mobile .app-store {
    width: 180px;
    margin-right: 0;
    margin-left: 6px;
  }
  .header {
    height: 80px;
  }
  .header .container .logo {
    width: 40px;
    height: 36px;
    flex-basis: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .header .container .logo>img {
    width: 185px;
    max-width: none;
    max-height: none;
  }
  .header .container>a:not(.logo) {
    margin-left: 24px;
    margin-right: 24px;
  }
  .header .container>a:last-of-type {
    margin-right: 0;
  }
  .hero h1 {
    font-size: 36px;
  }
  .hero .product-features {
    max-width: 90%;
  }
  .footer .container .terms{
    flex-basis: 35%;
    margin-left: 2.5%;
  }
  .display-copy {
    display: none;
  }
  .mobile-copy {
    display: block;
  }
}

@media(max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
  .partners {
    margin: 36px auto 12px;
    padding-bottom: 0;
  }
  .partners .partners-images {
    justify-content: center;
  }
  .partners .partners-images .image {
    margin: 0 12px;
    width: 20%;
  }
  .partners .partners-images .image img {
    object-fit: contain;
  }
  .hero .block-mobile .top-mobile {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero .block-mobile .install {
    padding-left: 0;
    padding-bottom: 24px;
  }

  .hero .block-mobile .bottom-mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .hero .content-hero {
    max-width: 480px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .blocks-info .block-info {
    margin: 24px;
    padding-top: 340px;
    padding-bottom: 24px;
    text-align: center;
    height: auto;
    max-height: fit-content;
    background-position: center top;
    background-size: 510px;
  }
  .blocks-info .block-info:nth-child(2){
    background-position: center top;
  }
  .blocks-info .block-info .content {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .blocks-info .block-info .content-text {
    max-width: fit-content;
  }
  .blocks-info .block-info .content-subtext {
    max-width: fit-content;
  }

  .footer {
    height: 140px;
  }
  .footer .logo {
    display: flex;
    justify-content: center;
  }
  .footer .logo img {
    margin: 0 auto;
  }
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .container .terms {
    flex-basis: 75%;
    margin-right: 0;
  }
}

@media(max-width: 740px) {
  .header .container>a:not(.logo) {
    margin-left: 12px;
    margin-right: 12px;
  }
  .header .container>a:last-of-type {
    margin-right: 0;
  }
  .hero {
    max-height: 1000px;
    height: 100%;
  }
  .hero .product-features {
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
  }
  .hero .product-features .item span {
    font-size: 16px;
  }
  .hero .product-features .item img {
    margin-right: 30px;
  }
  .hero .product-features .item:not(:first-of-type) {
    margin-top: 36px;
  }
  .hero .product-features .item:nth-of-type(2) {
    margin-left: -20px;
  }
  .blocks-info .block-info:nth-child(3) {
    background-size: 510px;
  }

  .footer {
    height: auto;
  }
  .footer .container {
    align-content: center;
  }
  .footer .container>img {
    margin-top: 48px;
  }
  .footer .container>* {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer .container .terms {
    flex-basis: 100%;
    margin-top: 12px;
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .footer .container .social {
    margin: 24px auto 12px;
    justify-content: center;
    padding: 0;
  }
  .footer .container .copyright {
    margin-top: 12px;
    margin-bottom: 24px;
    text-align: center;
  }
  .footer .button {
    max-width: 160px;
  }
}

@media(max-width: 320px) {
  .hero h1 {
    width: 90%;
  }
}