.header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171b21;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .container .logo {
  flex-basis: 150px;
  margin-right: 7.5%;
}

.header .container > a:not(.logo) {
  margin: auto;
}

.header .container .search {
  flex-basis: 65%;
  margin-right: 2.5%;
}

.header .container .search form {
  --height: 40px;
  height: var(--height);
  position: relative;
}

.header .container .search form input {
  height: var(--height);
  width: 100%;
  text-indent: 16px;
  background-color: transparent;
  border: 1px solid #252d35;
  border-radius: 50px;
}

.header .container .search form .button {
  --height: 30px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.header .container .search form button img {
  --size: 16px;
  height: var(--size);
  width: var(--size); 
}

.header .container .link:not(:hover) {
  opacity: 0.75;
  color: var(--accent-color);
}

.header .container .link:hover {
  opacity: 1;
  color: var(--accent-color);
}

@media(max-width: 1620px){
  .header .container .search {
    flex-basis: 60%;
  }
}

@media(min-width: 1024px){
  .desktop-hidden {
    display: none;
  }
}

@media(max-width: 1024px){
  .desktop-hidden {
    display: block;
  }
  .mobile-hidden {
    display: none;
  }
  .header {
    height: 80px;
  }
  .header .container .logo {
    width: 40px;
    height: 36px;
    flex-basis: auto;
    margin-right: auto;
    overflow: hidden;
  }
  .header .container .logo > img {
    width: 185px;
    max-width: none;
    max-height: none;
  }
  .header .container .search {
    flex-basis: auto;
    margin-right: 24px;
  }
  .header .container .search input {
    display: none;
  }
  .header .container > a:not(.logo) {
    margin-left: 24px;
    margin-right: 24px;
  }
  .header .container > a:last-of-type {
    margin-right: 0;
  }
}

@media(max-width: 740px){
  .header .container > a:not(.logo) {
    margin-left: 12px;
    margin-right: 12px;
  }
  .header .container > a:last-of-type {
    margin-right: 0;
  }
  .header .container .search {
    margin-right: 12px;
  }
}